// @use "media";
$wrapper-desktop: 1160px;
$wrapper-small-desktop: 940px;
$wrapper-tablet: 600px;
$wrapper-mobile: 300px;

// breakpoints
$desktop: 1600px;
$small-desktop: 1000px;
$tablet: 640px;
$mobile: 320px;

$p-desktop: 220px;
$p-small-desktop: 32px;
$p-tablet: 20px;
$p-mobile: 10px;

.wrapper {
  max-width: $wrapper-desktop;

  @media (max-width:1180px) {
    // max-width: $wrapper-desktop;
    max-width: 1000px;
  }

  @media (max-width: 1160px) {
    max-width: $wrapper-desktop;
    max-width: $wrapper-small-desktop;
  }

  @media (max-width: 1000px) {
    max-width: $wrapper-small-desktop;
  }

  @media (max-width: 960px) {
    max-width: $wrapper-tablet;
  }

  @media (min-width:321px) and (max-width:640px) {
    max-width: $wrapper-tablet;
    //albo content width 100% i 10px padding?
    //ale wtedy co mialoby trzymac szerokosc ta 320?    
  }

  @media (max-width: 321px) {
    max-width: $wrapper-mobile;
  }
}

.picker-widget {
  gap: 80px;
  //btw nie mozna tego wciagnac i w nim media q bo nie aplikuje 50px
}

@media (max-width: 1180px) {
  .picker-widget {
    gap: 68px;

    .donation:first-child {
      display: none;
    }
  }

  @media (max-width: 960px) {

    .picker-widget {
      gap: 93px;

      .donation {
        &:nth-child(-n+3) {
          display: none;

        }
      }
    }
  }
}