@import './utils/media';
$black-blue-color: #111115;


header {
  background-color: $black-blue-color;
  color: white;
  padding: $d-padding;


  .container {
    margin: 0 auto;
    display: grid;
    max-width: $d-w;

    grid-template-columns: 188px 1fr auto;
    grid-template-rows: 80px;

    grid-template-areas: "logo menu author";

    .logo {
      grid-area: logo;
      align-self: center;
      border-radius: 2px;
    }

    .menu {
      grid-area: menu;
      display: flex;
      gap: 58px;
      align-self: center;
      justify-self: start;
    }

    .design-author {
      grid-area: author;
      align-self: center;
      justify-self: end;
    }

    .burger {
      grid-area: burger;

      justify-self: end;
      align-self: start;
      display: none;
      background: url(../images/icons/burger-menu.svg) no-repeat;
      width: 16px;
      height: 16px;

      .cross-icon {
        display: none;
      }
    }

    @media (max-width: $d-bp) {
      max-width: $d-w;

      &.gallery {
        max-width: $d-w-gallery;
      }
    }

    @media (max-width: $sd-bp) {
      .menu {
        gap: 48px;
      }

      max-width: $sd-w;
    }

    // @media (max-width: $t-bp) {
    @media (max-width: $tb-bp) {
      grid-template-rows: 34px;
      height: 34px;
      grid-template-areas: "logo . burger";

      // max-width: $t-w;
      .logo {
        border: 0;
      }

      .menu {
        display: none;
      }

      .design-author {
        display: none;
      }

      .burger {
        cursor: pointer;
        display: block;
        align-self: center;

        .cross-icon {
          display: block;
        }

        .menu-icon {}

        img {}
      }


    }

    @media (max-width: $m-bp) {

      max-width: $m-w;
    }
  }

  @media (max-width: $d-bp) {
    padding: $d-padding;

  }

  @media (max-width: $sd-bp) {
    padding: $sd-padding;

  }

  // @media (max-width: $t-bp) {
  @media (max-width: $tb-bp) {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: $t-padding;

    &.mobile-menu {
      padding: 10px;

      .container {
        grid-template-columns: 1fr 28px;
        grid-template-rows: 82px 167px 39px;
        height: 329px;
        padding: 0;
        grid-template-areas: "logo burger" "menu ." "author .";

        .logo {
          border-color: 1px solid orange;
          background-image: url(../images/icons/logo-bamboo-orange.svg);
          align-self: start;

          a h1 {
            color: orange;
          }

        }

        .menu {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        .design-author {
          display: block;
          justify-self: start;
          align-self: end;
        }

        .burger {
          align-self: start;
          justify-self: start;
          position: relative;
          // right: 10px;
          // top: 10px;
        }

        a {
          color: black;
        }
      }

      background-color: white;
    }

  }

  @media (max-width: $m-bp) {
    padding: $m-padding;
  }
}

.hidden {
  display: none;
}