@import './utils/media';

/* --- 1. Hero --- */
body {
  overflow-x: hidden;
}

.hero {
  background: url(../images/backgrounds/photo-giant-panda.webp);
  background-size: cover;
  background-position: top center;
  // TODO becouse now its estimation
  min-height: calc((1 / 2) * 100vw);
}

// 2. Backstage


.backstage {
  background-position: top 12px right -105px;

  @media (max-width: 1250px) {
    .backstage-container {
      gap: 31px;

      .content {
        width: 50%;
      }

      img {
        object-fit: cover;
        object-position: left;
        width: 455px;
        height: 408px;
        // height: 100%;

      }

      @media (max-width:1030px) {
        img {
          display: none;
        }

        .content {
          width: 70%;

          .subtitle {
            margin-top: 20px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  @media (min-width: 740px) and (max-width:1500px) {
    //backstage flower disappear
    background: none !important;
  }

  @media (max-width: 739px) {
    //backstage flower disappear
    background: url(../images/backgrounds/bg-photo-flower.png) no-repeat;
    background-position: top 12px right -136px;

  }
}

// 3. Gallery
// .pets .gallery .cards-row {
//   display: grid;
// }

@import 'components/pets';
$desktop_middle_bp: 1160px;

@import 'components/testimonials';

// 5. Testimonial
.testimonials {

  .testimonial-cards {
    @media (max-width:1300px) {}

    @media (max-width:990px) {
      gap: 15px;
      height: 357px;

      .testimonial-card {
        width: 95%;
        height: 109px;
        text-align: left;
        padding: 10px 16px 19px 16px;
      }
    }

    @media (max-width: 640px) {
      flex-direction: column;

      .testimonial-card {
        width: unset;
      }
    }
  }
}

.center {
  margin: 0 0;
}