// @use 'components/card-shift-container/carousel';

@import './utils/media';


// INDEX.html
// Sections
//

/* --- 1. Hero --- */

.hero {
  background: url(../images/backgrounds/photo-giant-panda.webp);
  background-size: cover;
  background-position: top center;
  // TODO becouse now its estimation
  min-height: calc((1 / 2) * 100vw);
}

// 2. Backstage


.backstage {
  //padding-top: 
  //140 100 60 104
  //flower
  background-position: top 12px right -105px;

  @media (max-width: 1250px) {
    .backstage-container {
      gap: 31px;

      .content {
        width: 50%;
      }

      img {
        object-fit: cover;
        object-position: left;
        width: 455px;
        height: 408px;
        // height: 100%;

      }

      @media (max-width:1030px) {
        img {
          display: none;
        }

        .content {
          width: 70%;

          .subtitle {
            margin-top: 20px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  @media (min-width: 740px) and (max-width:1500px) {
    //backstage flower disappear
    background: none !important;
  }

  @media (max-width: 739px) {
    //backstage flower disappear
    background: url(../images/backgrounds/bg-photo-flower.png) no-repeat;
    background-position: top 12px right -136px;

  }
}

// 3. Gallery
.pets .gallery .cards-container .cards-row {
  display: grid;

}

.pets>div>button {
  margin-bottom: 60px;
  margin-top: 80px;
}

// -- omnipotence query
.pets {
  padding: $d-padding;

  div {

    .cards-container {
      .cards-row {
        //rules for it and rules for immediate children - cards
      }
    }

    .choose-favorite-btn {}
  }
}

// -------

.pets {
  .gallery {
    button {}
  }

  .gallery .cards-container .cards-row {
    display: flex;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;


    .pet-card:last-child {
      @media (max-width: 1160px) {
        display: none;
      }
    }

    @media (max-width: 1160px) {
      grid-template-columns: repeat(2, 1fr);

      grid-auto-flow: column;

      .pet-card {
        width: 285px;
        height: 332px;

        .card-image {
          height: 285px;
        }
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }

  }

  @media (max-width: 1000px) {
    background-size: 47% 47%;

  }

  @media (max-width: 1340px) {
    .cards-container {
      gap: 30px;
      // step 2 make bigger space between galery rows
    }

    //pets gallery arrows move to center
    // step 1 arrows disapper
    .cards-navigation {
      // display: none;
      position: relative;
      // step 3 "put" arrows in the middle

      width: 365px;
      margin: 0 auto;

      .cards-nav-left {
        position: unset;
        // margin-right: 221px;
        left: unset;
      }

      .cards-nav-right {
        position: unset;
        right: unset;
      }
    }

  }

  @media (max-width: 800px) {

    //change space between arrows
    .gallery .cards-container .cards-navigation {
      width: unset;
      display: none;
    }

    .cards-row {
      flex-direction: column;
      // grid-template-rows: 1fr 1fr 1fr 1fr;
      // grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 800px) {
  body>section.pets>div>div>div.cards-navigation {
    display: none;
  }
}

// .pets {


//   padding: $d-padding;

//   .container {

//     max-width: $d-w;

//     @media (max-width: $d-bp) {

//       &.gallery {
//         // max-width: $d-w-gallery;
//       }
//     }

//     @media (max-width: $sd-bp) {

//       max-width: $sd-w;
//     }

//     @media (max-width: $t-bp) {

//       max-width: $t-w;
//     }

//     @media (max-width: $m-bp) {

//       max-width: $m-w;
//     }
//   }

// }

//TODO medai 
$desktop_middle_bp: 1160px;

// 4. Pick a friend
// 5. Testimonial
.testimonials {
  // .testimonial-cards {
  //   display: flex;
  //   gap: 32px;
  //   // overflow: hidden;
  //   height: 400px; //TODO
  //   /* align-content: center; */
  //   flex-wrap: wrap;
  //   /* flex-direction: row; */
  //   justify-content: center;
  // }

  //!!! tymczasowo wyłącz
  //justify-content: center;
  .testimonial-cards {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $desktop_middle_bp) {
      overflow: hidden;
      height: 370px; //TODO
      /* align-content: center; */
      flex-wrap: wrap;
      /* flex-direction: row; */
    }

    @media (max-width:1300px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-auto-flow: column;
    }

    @media (max-width:990px) {
      gap: 15px;
      height: 357px;

      .testimonial-card {
        width: 95%;
        height: 109px;

        overflow-y: auto;
        text-align: left;
        padding: 10px 16px 19px 16px;


      }

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-rows: auto;
      // overflow: auto;
    }

    @media (max-width: 640px) {
      flex-direction: column;

      .testimonial-card {
        width: unset;
      }

      // height: 109px; //TODO
    }
  }


  // bo szerokosc 4 kart to 1160
  //!! ale warto zeby bylo 1160 + jakis padding (ale to szczegol, jest duzo rzeczy ktore musze zrobic przed 20:30)
  // szerobosc 3 to 940

  .slider {
    width: 600px;

    @media (max-width: 1300px) {
      width: 398px;

    }
  }
}

// Footer

// DONATION.html
// Sections
//
// Header - menu
// 1. Hero

// 4. Pick a friend
// 5. Testimonial
// Footer

// Section width == 100% 
//   - background images

//   container width == bp == wrapper
//     -width and centering content

//       other blocks of code
//       margins top

//wrappers

//
//TODO 
// !!!!!! na razie wyłącz!!!!
.wrapper {
  // width: 100%;
  // padding: 0 30px;
}

.center {
  margin: 0 0;
}