/* 1000/960px */
/* 640px */
/* 320px */
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1362px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1160px;
  }
  .container.gallery {
    max-width: 1322px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 940px;
  }
}
@media (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}
@media (max-width: 320px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
  }
}

header {
  background-color: #111115;
  color: white;
  padding: 0 30px;
}
header .container {
  margin: 0 auto;
  display: grid;
  max-width: 1160px;
  grid-template-columns: 188px 1fr auto;
  grid-template-rows: 80px;
  grid-template-areas: "logo menu author";
}
header .container .logo {
  grid-area: logo;
  align-self: center;
  border-radius: 2px;
}
header .container .menu {
  grid-area: menu;
  display: flex;
  gap: 58px;
  align-self: center;
  justify-self: start;
}
header .container .design-author {
  grid-area: author;
  align-self: center;
  justify-self: end;
}
header .container .burger {
  grid-area: burger;
  justify-self: end;
  align-self: start;
  display: none;
  background: url(../images/icons/burger-menu.svg) no-repeat;
  width: 16px;
  height: 16px;
}
header .container .burger .cross-icon {
  display: none;
}
@media (max-width: 1362px) {
  header .container {
    max-width: 1160px;
  }
  header .container.gallery {
    max-width: 1322px;
  }
}
@media (max-width: 1000px) {
  header .container {
    max-width: 940px;
  }
  header .container .menu {
    gap: 48px;
  }
}
@media (max-width: 880px) {
  header .container {
    grid-template-rows: 34px;
    height: 34px;
    grid-template-areas: "logo . burger";
  }
  header .container .logo {
    border: 0;
  }
  header .container .menu {
    display: none;
  }
  header .container .design-author {
    display: none;
  }
  header .container .burger {
    cursor: pointer;
    display: block;
    align-self: center;
  }
  header .container .burger .cross-icon {
    display: block;
  }
}
@media (max-width: 320px) {
  header .container {
    max-width: 300px;
  }
}
@media (max-width: 1362px) {
  header {
    padding: 0 30px;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 0 30px;
  }
}
@media (max-width: 880px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 0 20px;
  }
  header.mobile-menu {
    padding: 10px;
    background-color: white;
  }
  header.mobile-menu .container {
    grid-template-columns: 1fr 28px;
    grid-template-rows: 82px 167px 39px;
    height: 329px;
    padding: 0;
    grid-template-areas: "logo burger" "menu ." "author .";
  }
  header.mobile-menu .container .logo {
    border-color: 1px solid orange;
    background-image: url(../images/icons/logo-bamboo-orange.svg);
    align-self: start;
  }
  header.mobile-menu .container .logo a h1 {
    color: orange;
  }
  header.mobile-menu .container .menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  header.mobile-menu .container .design-author {
    display: block;
    justify-self: start;
    align-self: end;
  }
  header.mobile-menu .container .burger {
    align-self: start;
    justify-self: start;
    position: relative;
  }
  header.mobile-menu .container a {
    color: black;
  }
}
@media (max-width: 320px) {
  header {
    padding: 0 10px;
  }
}

.hidden {
  display: none;
}/*# sourceMappingURL=header.css.map */