section.backstage {
  padding-top: 100px;
  padding-bottom: 140px;
}

.backstage-container {
  display: flex;
  gap: 87px;
  margin-top: 40px;
}
.backstage-container h2 {
  margin-bottom: 4.41%;
}

.backstage-container .content .subtitle {
  display: block;
  margin-top:50px;
  margin-bottom: 34px;

}