/* colors */
* {
  margin: 0;
  padding: 0;
}

:root {
  --frosted-glass-white-color: rgba(253, 253, 255, 0.53);
  --gray-light-color: #F1F3F2;
  --gray-smoky-color: #ABABAB;
  --gray-color: #767474;
  --pink-gradient-color: #FEBDAB;
  --pink-light-color: #fde5d7;
  --orange-gradient-color: #FED290;
  --orange-color: #F9804B;
  --dark-orange-color: #E47209;
  --red-color: #D31414;
  --yellow-color: #FFEE2E;
  --green-color: #4B9200;
  --black-blue-color: #333B41;
  --input-text: #BDBDBD;
  --button-bg: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --bg-orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --border-pink: radial-gradient(circle at 100% 100%, #F1F3F2 0, #F1F3F2 18px, transparent 18px) 0% 0%/20px 20px no-repeat,
    radial-gradient(circle at 0 100%, #F1F3F2 0, #F1F3F2 18px, transparent 18px) 100% 0%/20px 20px no-repeat,
    radial-gradient(circle at 100% 0, #F1F3F2 0, #F1F3F2 18px, transparent 18px) 0% 100%/20px 20px no-repeat,
    radial-gradient(circle at 0 0, #F1F3F2 0, #F1F3F2 18px, transparent 18px) 100% 100%/20px 20px no-repeat,
    linear-gradient(#F1F3F2, #F1F3F2) 50% 50%/calc(100% - 4px) calc(100% - 40px) no-repeat,
    linear-gradient(#F1F3F2, #F1F3F2) 50% 50%/calc(100% - 40px) calc(100% - 4px) no-repeat,
    linear-gradient(130deg, #dadedc 26%, #f3a9f8 66%, #fed6ab 100%) no-repeat;
}

/* fonts */

body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 22.4px;
}

h1 {
  font-weight: 700;
  /* font-size: 114px; */
  font-size: 7.125rem;
}

h2 {
  /* font-size: 48px; */
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.41%;
  font-weight: 400;
  line-height: 57.6px;
}

h3 {
  /* font-size: 36px; */
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 46.8px;
  margin-bottom: 10px;
}

.subtitle {
  /* font-size: 24px; */
  line-height: 120%;
  font-size: 1.5rem;
}

.btn-font {
  font-weight: 500;
  font-size: 1rem;
}

.smallParagraph {
  /* font-size: 15px; */
  font-size: 0.9375rem;
  font-weight: 100;
  line-height: 120%;
}

.uppercase {
  text-transform: uppercase;
}

/* icons */

.icon-size-normal {
  width: 80px;
  height: 80px;
}

.icon-size-medium {
  width: 52px;
  height: 52px;
}

/* controls */

/*
w: 298, padding: 16 70
padding 1em 4.375em
*/

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--orange-color);
}

.link-active {
  /* to set currently visited subpage in menu breadcrumbs */
  color: var(--orange-color);
}

a:active {
  color: var(--orange-color);
}

label {}

button {
  /* centered text horizontally and verticaly: how?*/
  background-color: var(--orange-color);
  background-image: var(--button-bg);
  color: white;
  line-height: 22.4px;
  text-transform: uppercase;
}

button:active {
  background-color: var(--green-color);
}

button:hover {
  background-color: var(--dark-orange-color);
}

button:disabled {
  background-color: #828282;
}

button.wide {
  width: 298px;
}

button[type="submit"] {
  background-image: none;
  background-color: var(--gray-light-color);
  text-transform: none;
  color: black;
  width: 129px;
  padding: 10px 0;
  border: 1px solid black;
}

button[type="submit"]:active {
  outline: var(--green-color);
  color: var(--green-color);
  border: 1px solid var(--green-color);
}

button[type="submit"].mistake {
  outline: var(--red-color);
  color: var(--red-color);
  border-color: var(--red-color);
}

input[type="text"] {
  color: var(--input-text);
  border: 1px solid var(--orange-color);
  padding: 10px 0 10px 10px;
  border-radius: 2px;
}

input[type="text"]:active {
  color: var(--green-color);
  outline: var(--green-color);
  border-color: var(--green-color);
}

input[type="email"] {
  color: var(--input-text);
  border: 1px solid var(--orange-color);
  padding: 10px 0 10px 10px;
  border-radius: 2px;
}

input[type="email"]:active {
  color: var(--green-color);
  outline: var(--green-color);
  border-color: var(--green-color);
}

input[type="email"]:invalid {
  outline: var(--red-color);
  color: var(--red-color);
  border-color: var(--red-color);
}

.hover {
  background-color: var(--dark-orange-color);
}

.active {
  background-color: var(--green-color);
}

.disabled {
  background-color: var(--gray-color);
}

/* input text*/
.input-default {
  border: 1px solid
}

.mistake {
  outline: var(--red-color);
  color: var(--red-color);
  border-color: var(--red-color);
}

/* nav bar and sections container size*/
/*
(1600 - 440)
width: 72.5%
*/

/* misc */
.rounded-small {
  /* 2px */
  /* text is 16px and rounded is 2px */
  /* should it be in based on text size ? or rather on button width/height?*/
  border-radius: 0.125em;

}

.rounded-medium {
  /* 5px */
  /* text is 22px, and 16px is base, and rounded is 5px */
  /* for biiiig screens it would have em or % in width is constant*/
  border-radius: 5px;
  /* border-radius: 22.73%; */

}

.rounded-25 {
  /* half circle */
  border-radius: 25px;
  border-radius: 1.5625em;
  /* 16px */

}

/* layout*/

.centered-2d {
  /* does it do the job? */
  text-align: center;
  line-height: 1em;

}

.wrapper-1160 {
  /* 1160 */
  /* width: 72.5%; */
  width: 1160px;
}

header,
footer {
  background-color: black;
  color: white;
}

.centered {
  margin: 0 auto;
}