/* Section */
/* Watch your favourite animal */
.hero {
  background: url(../images/backgrounds/photo-giant-panda.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -35px center;
  min-height: 700px;
}

.wrapper-watch {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}


.big-text {
  width: 500px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  z-index: 0;
  padding-top: 7.9%;
}

.highlighted-text {
  color: #FFEE2E;
}

.text-shape-wrapper {
  display: flex;
}

/* .text-shape-wrapper::before {
  content: "";
  width: 465px;
  height: 465px;
  background-color: #F9804B;
  border-radius: 100%;
  left: 40.7%;
  position: relative;
} */

.button-watch-container {
  padding-right: 97px;
  text-align: right;
  margin-top: 60px;
}

/* Section */
/* The Backstage */
section.backstage {
  background: url(../images/backgrounds/bg-photo-flower.png) no-repeat;
  background-position: top 12px right -93px;
}

.backstage>div {
  padding-top: 100px;
  padding-bottom: 80px;
}

.backstage-container {
  display: flex;
  gap: 87px;
  margin-top: 40px;
}

.backstage-container h2 {
  margin-bottom: 4.41%;
}

.backstage-container .content .subtitle {
  display: block;
  margin-top: 50px;
  margin-bottom: 34px;
}

/* Section */
/* Pet galleru */
section.pets {
  height: 1110px;
  margin-top: 100px;
  background-image: url(../images/backgrounds/bg-photo-palm.png), url(../images/backgrounds/bg-photo-strelitzia.png);
  background-position: left 0 bottom 0, right 0 bottom 0;
  background-repeat: no-repeat, no-repeat;
  /* center button "Choose your favorite" */
  text-align: center;
}

.pets>div {
  margin-top: -6px;
}

.pets-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 73px;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cards-navigation {
  position: absolute;
  top: calc(50% - 31px);
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.cards-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.cards-nav-button:hover,
.cards-nav-button:focus {
  background-color: var(--dark-orange-color);
}

.cards-nav-button:active {
  background: var(--green-color);
}

.cards-nav-left {
  position: absolute;
  left: -82px;
}

.cards-nav-right {
  position: absolute;
  right: -82px;
}

.cards-row {
  display: flex;
  gap: 30px;
}

.pet-card {
  width: 365px;
  border: 1px solid #FA6F32;
  border-radius: 5px;
  background-color: white;
}

.pet-card .card-image {
  overflow: hidden;
}

.pet-card .card-image img {
  width: 365px;
  height: 365px;
  background-color: gray;
}

.pet-card .card-image img:hover {
  transition: all .5s;
}

.pet-card .card-footer {
  height: 53px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  transition: color 0.6s, top 0.6s, transform 2s;
  transition-timing-function: ease-out;
}

.pet-card .card-image img {
  transition: transform 1s, filter 1s;
}

.pet-card:hover .card-footer {
  color: white;
  text-shadow: 1px 1px 0 black;
  top: -80px;
}

.pet-card:hover .card-image img {
  transform: scale(1.05);
  filter: brightness(0.6);
}

.pet-card .card-footer .card-icon {
  padding-right: 12px;
  /* hide beneth image on hover*/
  /* z-index: -1; */
  position: relative;
}

.pet-card .card-footer .card-content {
  padding-left: 16px;
}

.pet-card .card-footer .card-content .card-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

.pet-card .card-footer .card-content .card-decription {
  line-height: 100%;
  letter-spacing: -0.5px;
  font-size: 15px;
}

/* pet-card animation*/
.pets>div>button {
  margin-top: 80px;
}

/* Section */
/* Pick and feed animal */
section.pick-a-friend {
  height: 1004px;
  background: var(--bg-orange-gradient);
}

.pick-a-friend-wrapper {
  padding-top: 69px;
  padding-bottom: 100px;
}

.pick-a-friend-container .text-container {
  margin-left: 100px;
  margin-top: 41px;
}

.pick-a-friend-container .text-container .subtitle {
  margin-top: 30px;
}

.pick-a-friend-container .text-container p:nth-child(3) {
  margin-top: 40px;
  font-weight: 500;
}

.pick-a-friend-container .text-container p:nth-child(4) {
  margin-right: 190px;
  margin-top: 10px;
}

.pick-a-friend-container .text-container a {
  color: black;
  border-bottom: 1px solid orange;
}

.pick-a-friend-container {
  background-color: var(--frosted-glass-white-color);
  border-radius: 10px;
  /* padding: 41px 57px 59px 99px; */
  display: flex;
  flex-direction: column;
  height: 835px;
}

.pick-a-friend-container .title {
  font-size: 48px;
  text-align: center;
  color: #FE9013;
}

.how-it-works-container {
  text-align: center;
}

.how-it-works-container h3 {
  margin-top: 57px;
}

.pick-cards-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 31px;
  margin-top: 40px;
}

.pick-cards-container .step {
  text-align: left;
  width: 168px;
}

.pick-cards-container .step>img {
  background-color: white;
}

.pick-cards-container .step p {
  text-align: left;
  padding-top: 25px;
}

.pick-cards-container .arrow {
  position: relative;
  top: -40px;
  align-self: center;
}

.how-it-works-container button {
  margin-top: 60px;
}

/* Section */
/* Testimonials */
section.testimonials {
  margin-top: 140px;
  background: url(../images/backgrounds/bg-photo-leaf.png) no-repeat;
  background-position: right 0 bottom -134px;
}

section.testimonials .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 180px;
}

section.testimonials .container button {
  margin-top: 31px;
  align-self: flex-start;
}

.testimonials .testimonial-cards {
  margin-top: 34px;
  display: flex;
  gap: 32px;
}

.testimonials .testimonial-card {
  width: 268px;
  text-align: left;
  padding: 10px 16px 19px 16px;
  border-radius: 20px;
  background-color: var(--gray-light-color);
  background: var(--border-pink);
}

.testimonial-card {
  background-color: #F1F3F2;
}

.testimonial-card .card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-card .card-header .name {
  font-weight: 500;
}

.testimonial-card .card-header .location,
.testimonial-card .card-header .date {
  color: #BDBDBD;
  font-weight: 100;
  font-size: 15px;
}

.testimonial-card .card-header .date::before {
  content: "•";
  margin-right: 5px;
}

.testimonial-card .card-header .avatar {
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

.testimonial-card .card-header .content {
  line-height: 110%;
}

.testimonial-card .card-content {
  text-align: left;
  padding-top: 10px;
  font-size: 15px;
}

/* Dontation page html*/
.donation-content {
  background-image: var(--bg-orange-gradient);
  padding: 40px 0 180px;
}

.hero-donate {
  background: url(../images/backgrounds/bg-donation-panda.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 390px;
}

.donation-content>div>p {
  margin-bottom: 40px;
  color: white;
}

.donation-content>div>h3:nth-child(1) {
  color: white;
}

.donation-content>div>h3:nth-child(3) {
  color: var(--orange-color);
  margin-bottom: 60px;
}

.donation-content .pick-a-friend {
  background-color: var(--pink-light-color);
  border-radius: 20px;

  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 62px;
  padding-left: 0;
}

.donation-content .pick-a-friend h2 {
  color: #FE9013;
  text-align: center;
}

.donation-content .pick-a-friend>p {
  margin-top: 20px;
  text-align: center;
}

.animal-food-card {
  padding-top: 61px;
  margin: 0 auto;
  display: flex;
  gap: 73px;
  justify-content: center;
}

.animal-food-card .card-header {
  position: relative;
  align-self: center;
  top: 27px;
  display: flex;
}

.card-header .amount {
  text-align: center;
}

.card-header .multiply {
  position: relative;
  top: -13px;
  left: 8px;
  align-self: center;
}

.card-header .day {
  font-size: 72px;
  line-height: 0.8em;
  font-weight: 500;
  margin-bottom: 10px;
}

.payment-form {
  margin: 0 auto;
  display: flex;
  width: 301px;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.pick-amount {
  display: flex;
  gap: 57px;
  padding-bottom: 31px;
  padding-top: 23px;
}

.pick-amount input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
  border-radius: 50%;
}

.pick-amount input[type=radio]:checked {
  background-color: #4b9200;
  border: 1px solid #4b9200;
}

button[type="submit"].donation {
  width: 297px;
  padding: 10px 0;
  border: 1px solid var(--orange-color);
  padding: 16px 0;
  padding-left: 9px;
}

.amount-picker {
  margin-top: 40px;
}

.picker-widget-belt {
  width: 100%;
  height: 27px;
  background-color: #404950;
  border-radius: 2px;
  position: relative;
  z-index: 0;
  top: 20px;
}

.picker-widget-belt hr {
  position: relative;
  border: 1px solid #72828E;
  top: 11px;
  margin-left: 23px;
  margin-right: 34px;
}

.picker-widget {
  display: flex;
  gap: 82px;
  margin-left: 13px;
  position: relative;
  z-index: 1;
}

.donation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  position: relative;
}

.donation.selected label {
  color: #FE9013;
}

.donation input {
  display: block;
  margin-left: 10px;
}

.donation input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: var(--yellow-color);
  border-radius: 50%;
  z-index: 1;
}

.selected-amount {
  position: absolute;
  width: 40px;
  left: -5px;
  top: -15px;
  height: 40px;
  background: url(../images/icons/roller_icon.svg) no-repeat;
  z-index: 0;
  display: none;
}

.donation input[type=radio]:checked+.selected-amount {
  display: block;
}

.donation input[type=radio]:checked+.selected-amount~label {
  color: var(--orange-color);
}

.donation label {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.4em;
  margin-left: -13px;
}

.donation label .dolar {
  font-size: 0.9em;
}

/* hide arrows for numeric input*/
/* Chrome, Safari, Edge, Opera */
input.payment::-webkit-outer-spin-button,
input.payment::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].payment {
  -moz-appearance: textfield;
}

input.payment {
  padding: 16px 0;
  padding-left: 9px;
  color: #929699;
  width: 268px;
  background: url(../images/icons/dolar-donation.svg) no-repeat;
  background-position: center right 10px;
  border: 1px solid #929699;
}

.payment-form {
  margin-top: 47px;
}

.payment-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-form form input[type=radio] {
  margin-right: 5px;
}